*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-blue: #1a73e8;
	--clr-blue-hover: #2b7de9;
	--clr-grey-faint: #f8f9fa;
	--clr-grey-darker: #dadce0;
	--ff: "Arial", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	font-family: var(--ff);
}

header {
	/* position: fixed; */
	top: 0;
	width: 100%;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100px; */
}

nav {
	display: flex;
	width: 100%;
	font-weight: 100;
	justify-content: flex-end;
	padding: 1rem;
	font-size: 13px;
	align-items: center;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

nav a {
	margin-inline: 0.5rem;
	color: rgba(0, 0, 0, 0.87);
}

.blue-button {
	font-size: 14px;
	background-color: var(--clr-blue);
	color: #fff;
	padding: 9px 23px;
	border-radius: 4px;
}
.blue-button:hover {
	text-decoration: none;
	background-color: var(--clr-blue-hover);
	box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
		0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
.tiny-icons {
	display: block;
	height: 24px;
	width: 24px;
}

.tiny-icons img {
	height: 100%;
	display: block;
}

.bento {
	width: calc(24px + 1rem);
	height: calc(24px + 1rem);
	padding: 0.5rem;
	border-radius: 50%;
}
.bento:hover {
	background-color: #f2f2f2;
}

main {
	/* height: 100%; */
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin: -10rem auto 0;
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-stuff {
	width: 100%;
	/* background-color: red; */
	border: 1px solid var(--clr-grey-darker);
	display: flex;
	padding: 0.7rem 1rem;
	border-radius: 100vw;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.search-stuff:hover,
.search-stuff:focus-within {
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.search-bar-label {
	width: 100%;
	display: flex;
}

.buttons {
	width: 50%;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.main-button {
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	background-color: var(--clr-grey-faint);
	border: 1px solid transparent;
	padding: 0.7rem;
}
.main-button:hover {
	border: 1px solid var(--clr-grey-darker);
}

.search-bar-label input {
	padding: 0 1rem;
	width: 100%;
	flex-grow: 1;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 16px;
}

.languages-offered {
	display: flex;
	font-size: 13px;
	justify-content: center;
}

.lang-links {
	display: flex;
	justify-content: space-between;
	/* width: 70%; */
}
.lang-links a {
	display: block;
	margin-left: 0.5rem;
}

footer {
	/* position: fixed; */
	background-color: #f2f2f2;
	color: #70757a;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem;
	font-size: 14px;
}

.foot-nav a {
	color: inherit;
	/* display: block; */
	margin: 0 1rem;
}
